name: ECR Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options:
          - sandbox
          - staging
          - uat
          - production
        default: "sandbox"

env:
  AWS_REGION: eu-west-2

jobs:
  ecr-deploy:
    name: Deploy ECR (${{ inputs.environment }})
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    environment:
      name: ${{ inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS & Terraform
        uses: ./.github/actions/configure-aws-env
        with:
          environment: ${{ inputs.environment }}
          aws_region: ${{ env.AWS_REGION }}
          role_arn_sandbox: ${{ secrets.AWS_ROLE_ARN_SANDBOX }}
          role_arn_staging: ${{ secrets.AWS_ROLE_ARN_STAGING }}
          role_arn_uat: ${{ secrets.AWS_ROLE_ARN_UAT }}
          role_arn_production: ${{ secrets.AWS_ROLE_ARN_PRODUCTION }}
          setup_terraform: 'true'

      - name: Terraform Init
        env:
          AWS_PROFILE: ""
          ACCOUNT: ${{ inputs.environment }}
        run: make ecr-init ACCOUNT=${{ env.ACCOUNT }}

      - name: Terraform Plan
        env:
          AWS_PROFILE: ""
          ACCOUNT: ${{ inputs.environment }}
        run: make ecr-plan ACCOUNT=${{ env.ACCOUNT }}

      - name: Terraform Apply
        env:
          AWS_PROFILE: ""
          ACCOUNT: ${{ inputs.environment }}
        run: make ecr-apply ACCOUNT=${{ env.ACCOUNT }} TF_FLAGS='-auto-approve'
